server:
   port: 9993
   tomcat:
      max-threads: 4
   ssl:
      key-store: classpath:keystore/org.onap.so.p12
      key-store-password: u!@JQoYD])@ykq.NKM,O7iA.
      keyStoreType: PKCS12
ssl-enable: true
spring:
   security:
      users:
      -  username: aai
         #password: aai.onap.org:demo123456!
         password: $2a$04$crRntT01fAF4kb48mxlvgu68/silcLg.czC1LxQsKTdWuDBPpO3YO
         role: VID
      -  username: aai@aai.onap.org
         #password: demo123456!
         password: $2a$04$06VCpDvW5ztE7WOvhhvAtOx7JHLghECyZIzOShIbXLWpnshMva8T6
         role: VID
http:
   client:
      ssl:
         trust-store: classpath:truststore/org.onap.so.trust.jks
         trust-store-password: '[)3KV.k*!IlkFhWEq0Nv2dDa'