{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "${uuid}",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "${workflow}",
			"plans" : "Run ${workflow}",
			"question.000000000000001" : "Yes",
			"domainName1" : "domainValue1",
			"domainName2" : "domainValue2"
		}
	],
	"schedulingInfo" : {
		"normalDurationInSeconds" : 100,
		"additionalDurationInSeconds" : 10,
		"vnfDetails" : [{
				"groupId" : "group1",
				"node" : [
					"${node1}"
				]
			}
		]
	}
}
