{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "${uuid}",
	"userId" : "",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "Replace"
		}
	],
	"schedulingInfo" : {
		"vnfDetails" : [{
				"groupId" : "",
				"node" : [
					"VNFName1${testid}",
					"VNFName2${testid}",
					"VNFName3${testid}"
				]
			}
		]
	}
}
