{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "${uuid}",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "Not A Workflow"
		}
	],
	"schedulingInfo" : {
		"vnfDetails" : [{
				"groupId" : "group",
				"node" : [
					"${node1}"
				]
			}
		]
	}
}
