{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "${uuid}",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "ReplaceVnfInfra"
		}
	],
	"schedulingInfo" : {
		"normalDurationInSeconds" : 100,
		"additionalDurationInSeconds" : 10,
		"vnfDetails" : [{
		        "groupId" : "group",
				"node" : [
					"${node1}"
				]
			}
		]
	}
}
