{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "",
			"WorkflowName" : "Build Software Upgrade for vNFs"
		}
	],
	"schedulingInfo" : {
		"normalDurationInSeconds" : 100,
		"additionalDurationInSeconds" : 10,
		"concurrencyLimit" : 10,
		"policyId" : "SNIRO_CM.TimeLimitAndVerticalTopology_v2_split_1",
		"vnfDetails" : [{
				"groupId" : "group",
				"node" : [
					"${node1}"
				]
			}
		]
	}
}
