{
	"requestType" : "Update",
	"requestDetails" : [{
			"vnfName" : "mdns_2017_1011_oh22u_20171103",
			"vnfInstanceId" : "b8d99523-1e83-4fd1-b42f-849361ef7024",
			"modelInfo" : {
				"modelType" : "vnf",
				"modelInvariantId" : "93e16072-715a-42ef-9d0a-080052d6b716",
				"modelVersionId" : "4ec07a2d-6bb5-4373-8ed6-4bc7ac1246fd",
				"modelName" : "mdns_2017_1011_oh22u_20171103",
				"modelCustomizationId" : "1779a999-ea17-4f31-98e9-75b6fbdd0acb"
			},
			"cloudConfiguration" : {
				"lcpCloudRegionId" : "mdt1",
				"tenantId" : "88a6ca3ee0394ade9403f075db23167e"
			},
			"requestInfo" : {
				"source" : "VID",
				"suppressRollback" : false,
				"requestorId" : "az2016"
			},
			"relatedInstanceList" : [{
					"relatedInstance" : {
						"instanceId" : "54ba3628-9ee5-4b32-8a2a-3abf001bed4e",
						"modelInfo" : {
							"modelType" : "service",
							"modelInvariantId" : "e58733ef-43cb-4b6b-b641-922078b6c88b",
							"modelVersionId" : "4ec07a2d-6bb5-4373-8ed6-4bc7ac1246fd",
							"modelName" : "mdns_2017_1011",
							"modelVersion" : "4.0"
						}
					}
				}
			],
			"requestParameters" : {
				"usePreload" : true
			}
		}
	]
}
