{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "${uuid}",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "Replace"
		}
	],
	"schedulingInfo" : {
		"normalDurationInSeconds" : 100,
		"additionalDurationInSeconds" : 10,
		"concurrencyLimit" : 10,
		"policyId" : "string",
		"vnfDetails" : [{
				"groupId" : "",
				"node" : [
					"ZRDM1MMSC04${testid}"
				],
				"changeWindow" : [{
						"startTime" : "${start_time1}",
						"endTime" : "${end_time1}"
					}
				]
			}
		]
	}
}
