{
	"domain" : "ChangeManagement",
	"scheduleId" : "${uuid}",
	"scheduleName" : "",
	"userId" : "${userId}",
	"domainData" : [{
			"CallbackUrl" : "${callbackUrl}",
			"CallbackData" : "${callbackData}",
			"WorkflowName" : "Replace"
		}
	],
	"schedulingInfo" : {
		"normalDurationInSeconds" : 100,
		"additionalDurationInSeconds" : 10,
	
		"vnfDetails" : [{
				"node" : [
					"ZRDM1MMSC04${testid}"
				]
			}
		]
	}
}
